{% assign menu_left = section.settings.first_menu %}

<header>
    <nav>
        <div class="topbar">

        </div>
        <div class="menu">
            <div class="main_menu">
                <div class="mobile_button">
                    <span class="menu_icon material-icons">
                        menu
                    </span>
                </div>
                <ul class="dropdown_lv1">
                    {%- for link in linklists[menu_left].links -%}
                        <li class="list_lv1"  {% if link.levels > 0 %} data-dropdown {% endif %}>
                            <a href="{{ link.url }}" >
                                {%- if link.title == 'linge de lit' -%}
                                <span class="menu_icon material-icons">
                                    menu
                                </span>
                                {%- endif -%}
                                <span>{{ link.title | capitalize }}</span>
                                {%- if link.title == 'notre concept' -%}
                                <span class="arrow_icon material-icons">
                                    expand_more
                                </span>
                                {%- endif -%}
                            </a>
                            {%- if link.levels > 0 -%}
                            <div class="{% if link.title == 'notre concept' %} subdropdown_concept {% else %} subdropdown {% endif %}">
                                <ul class="{% if link.title == 'notre concept' %} dropdown_lv2_concept {% else %} dropdown_lv2 {% endif %}">
                                    {%- for sub_link in link.links -%}
                                        <li class="list_lv2">
                                            <a href="{{ sub_link.url }}">{{ sub_link.title | capitalize }}</a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                                {%- if link.title == 'linge de lit' -%}
                                <div class="image-menu">
                                    <img src="{{ section.settings.image_menu | img_url: crop : 'center' }}" height="auto" alt="">
                                </div>
                                {% endif %}
                            </div>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="logo">
                <a href="{{ shop.url }}">
                    <h1>Greige</h1>
                </a>
            </div>
            <div class="right_menu">
                <ul class="dropdown_right">
                    <li class="list_right">
                        <a href="#">Avis</a>
                    </li>
                    <li class="list_right">
                            {{ 'Compte' | customer_login_link }}
                    </li>
                    <li class="list_right">
                        <a href="#">panier</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mobile_menu">
        <ul class="mobile_dropdown_1">
            {%- for link in linklists[menu_left].links -%}
            <li class="mobile_list_lv1"  {% if link.levels > 0 %} data-dropdown {% endif %}>
                <p class="drop_title">
                    {% if link.levels < 1 %}<a href="{{ link.url }}" >{% endif %}
                        <span>{{ link.title | capitalize }}</span>
                    {% if link.levels < 1 %}</a>{% endif %}
                    {%- if link.levels > 0 -%}
                    <span class="material-icons drop_icon add">
                        add
                    </span>
                </p>
                <div class="mobile_subdropdown">
                    <ul class="mobile_dropdown_lv2">
                        {%- for sub_link in link.links -%}
                            <li class="list_lv2">
                                <a href="{{ sub_link.url }}">{{ sub_link.title | capitalize }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
                {%- endif -%}
            </li>
            {% endfor %}
        </ul>
        <ul class="mobile_dropdown_right">
            <li class="mobile_list_right">
                <a href="#">Avis</a>
            </li>
            <li class="mobile_list_right">
                <a href="#">Mon compte</a>
            </li>
            <li class="mobile_list_right">
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</header>

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "first_menu",
      "label": "menu de gauche"
    },
    {
      "type": "link_list",
      "id": "second_menu",
      "label": "menu de droite"
    },
    {
          "type": "image_picker",
          "id": "image_menu",
          "label": "label"
    }

  ]
}
{% endschema %}
