{% assign menu_left = section.settings.first_menu %}

<header>
    <nav>
        <div class="topbar" style="margin-top: 0px;">
            <p>COVID-19 : LIVRAISON ASSURÉE A DOMICILE I RETOURS GRATUITS 90 JOURS&nbsp;</p>
        </div>
        <div class="menu">
            <div class="main_menu">
                <div class="mobile_button">
                    <span class="menu_icon material-icons">
                        menu
                    </span>
                </div>
                <ul class="dropdown_lv1">
                    {%- for link in linklists[menu_left].links -%}
                        <li class="list_lv1"  {% if link.levels > 0 %} data-dropdown {% endif %}>
                            <a href="{{ link.url }}" >
                                {%- if link.title == 'linge de lit' -%}
                                <span class="menu_icon material-icons">
                                    menu
                                </span>
                                {%- endif -%}
                                <span>{{ link.title | capitalize }}</span>
                                {%- if link.title == 'notre concept' -%}
                                <span class="arrow_icon material-icons">
                                    expand_more
                                </span>
                                {%- endif -%}
                            </a>
                            {%- if link.levels > 0 -%}
                            <div class="{% if link.title == 'notre concept' %} subdropdown_concept {% else %} subdropdown {% endif %}">
                                <ul class="{% if link.title == 'notre concept' %} dropdown_lv2_concept {% else %} dropdown_lv2 {% endif %}">
                                    {%- for sub_link in link.links -%}
                                        <li class="list_lv2">
                                            <a href="{{ sub_link.url }}">{{ sub_link.title | capitalize }}</a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                                {%- if link.title == 'linge de lit' -%}
                                <div class="image-menu">
                                    <img src="https://cdn.shopify.com/s/files/1/0420/0998/5190/files/Optimized-BI9A9553_1_1_298x252_1c684601-37b7-4975-aeb7-9e30fb0145d9.jpg?v=1603014383" height="auto" alt="">
                                </div>
                                {% endif %}
                            </div>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="logo">
                <a href="{{ shop.url }}">
                    <h1>Greige</h1>
                </a>
            </div>
            <div class="right_menu">
                <ul class="dropdown_right">
                    <li class="list_right">
                            {{ 'Compte' | customer_login_link }}
                    </li>
                    <li class="list_right cart_drop">
                        <a class="cart_count" href="{{ routes.cart_url }}">
                            <span class="cart-text">panier</span>
                            <span data-count></span>
                        </a>
                        <div class="cart">

                            <div class="empty_cart">
                                <div class="title">
                                    votre panier est vide
                                </div>
                                <a href="{% for collection in collections %}{% if collection.title == 'linge de lit percale' %}{{ collection.url }}{% endif %}{% endfor %}" class="btn_cart">AJOUTER AU PANIER</a>
                            </div>

                            {% include 'cart_pocket' %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "first_menu",
      "label": "menu de gauche"
    },
    {
      "type": "link_list",
      "id": "second_menu",
      "label": "menu de droite"
    },
    {
          "type": "image_picker",
          "id": "image_menu",
          "label": "label"
    }

  ]
}
{% endschema %}
